body {
  background-color: green;
}

img {
  height: 200px;
  width: 200px;
}

h1 , h3 {
  color: orange;
  background-color: red;
  display: flex;
  justify-content: center;
}

button {
  background-color: red;
  text-decoration: none;
  color: orange;
  padding: 5px;
}

a {
  text-decoration: none;
  color: orange;
  padding: 5px;
}

section {
  color: orange;
  background-color: red;
  display: flex;
  justify-content: space-around;
}

nav {
  display: flex;
  justify-content: center;
  padding: 15px;
}